body{
    font-family: Arial, sans-serif;
    color:white;
    text-align: center;
    height: 100vh;
}

/*Contenedor*/
#contenedor{
    width: 100%;
    height: 100%;
}

ul#header li {
    display: inline;
}

ul#aside li {
    list-style: none;
    margin-bottom: 70%;
    margin-left: 100%;
}

/* Cabecera */
#header {
    background-color: green;
    height: 17%;
    line-height: 17vh;
}

#aside {
    background-color: rgb(14, 136, 173);
    width: 25%;
    height: 80%;
    float: left;
}

#main {
    background-color: rgb(138, 81, 192);
    width: 75%;
    height: 80vh;
    float: left;
}

#footer {
    background-color: lightcoral;
    float: left;
    height: 3%;
    line-height: 3vh;
    width: 100%;
}

#grande1 {
    border: 5px solid red;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 4%;
    width: 88%;
    height: 30vh;
}

#peq01{
    border: 5px solid blue;
    margin-left: 6%;
    margin-top: 4%;
    float: left;
    width: 40%;
    height: 20vh;
}

#peq02{
    border: 5px solid blue;
    margin-left: 5%;
    margin-top: 4%;
    float: left;
    width: 40%;
    height: 20vh;
}

#grande2{
    border: 5px solid red;
    margin-left: 5%;
    width: 88%;
    height: 30vh;
}

#peq11{
    border: 5px solid blue;
    margin-left: 6%;
    margin-top: 5%;
    float: left;
    width: 25%;
    height: 20vh;
}

#peq12{
    border: 5px solid blue;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    width: 25%;
    height: 20vh;
}

#peq13{
    border: 5px solid blue;
    margin-left: 5%;
    margin-top: 5%;
    float: left;
    width: 25%;
    height: 20vh;
}