body{
    font-family: Arial, sans-serif;
    color:white;
    text-align: center;
    height: 100vh;
}

/*Contenedor*/
#contenedor{
    display: flex; /*Iniciamos el contenedor con flexbox*/
    flex-direction: column; /*Alineamos los elementos en columna*/
    width: 100%;
    height: 100vh;
}

ul#header li {
    display: inline;
    list-style: none;
}

ul#aside li {
    list-style: none;
    margin-bottom: 70%;
    margin-left: 100%;
}

#contenido{
    display: flex;
    flex-direction: row; /*Alineamos los elementos en fila*/
    width: 100%;
    height: 80vh;
}

/* Cabecera */
#header {
    background-color: green;
    height: 17%;
    line-height: 17vh;
    justify-content: flex-start; /*Alineamos el contenido al inicio*/
}

#aside {
    background-color: rgb(14, 136, 173);
    width: 25%;
}

#main {
    background-color: rgb(138, 81, 192);
    width: 75%;
}

#final {
    display: flex;
    justify-content: center;
    height: 3%;
}

#footer {
    background-color: lightcoral;
    line-height: 3vh;
    width: 100%;
}

#grande1 {
    border: 5px solid red;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 4%;
    width: 88%;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

#peq01{
    border: 5px solid blue;
    margin-left: 6%;
    margin-top: 4%;
    width: 40%;
    height: 20vh;
}

#peq02{
    border: 5px solid blue;
    margin-left: 5%;
    margin-top: 4%;
    width: 40%;
    height: 20vh;
}

#grande2{
    border: 5px solid red;
    margin-left: 5%;
    width: 88%;
    height: 30vh;
    display: flex;
    flex-direction: row;
}

#peq11{
    border: 5px solid blue;
    margin-left: 6%;
    margin-top: 5%;
    width: 25%;
    height: 20vh;
}

#peq12{
    border: 5px solid blue;
    margin-left: 5%;
    margin-top: 5%;
    width: 25%;
    height: 20vh;
}

#peq13{
    border: 5px solid blue;
    margin-left: 5%;
    margin-top: 5%;
    width: 25%;
    height: 20vh;
}